# Python Cache
__pycache__/

# Config
data/
config.yaml
config.toml
.env

# Data
*.db
data.json

# For Local / venv
*.test.*
*.local.*
.venv/
.venv_legacy/

# Others
.vscode/launch.json
.claude/
任务清单(全部完成后删除).md


